@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}
h1{
  font-weight: bolder;
}
.page-body {
  text-align: center;
  margin-top: 170px;
}
.btn.btn-primary {
  padding: 10px;
  background-color: #007cbe;
  color: white;
}
.btn:hover {
  cursor: pointer;
  background-color: #007cbe;
  color: white;
}

/* ---HEADER--- */
header{
  position: fixed;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    align-content: center;
    background-color: #00af54;
    justify-content: space-between;
    list-style-type: none;
    align-items: baseline;
}

.nav-bar {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}
.nav-link {
  font-weight: bold;
  font-size: large;
  margin: 10px;
  color: white;
  text-decoration: none;
}
.nav-link:hover {
  font-weight: bold;
  font-size: large;
  color: #ffa3af;
  text-decoration: none;
}
.nav-link:active {
  color: white;
}
.logo {
  height: 90px;
  margin-left: 20px;
}

/* ---HOME--- */

#icon {
height: 75px;
display: inline-block;
}

.animated {
	-webkit-animation-duration: 1.1s;
	animation-duration: 1.1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes bounceIn { 
    0% { 
        opacity: 0; 
        -webkit-transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        -webkit-transform: scale(1.05); 
    } 

    70% { 
        -webkit-transform: scale(.9); 
    } 

    100% { 
         -webkit-transform: scale(1); 
    } 
} 

@keyframes bounceIn { 
    0% { 
        opacity: 0; 
        transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        transform: scale(1.05); 
    } 

    70% { 
        transform: scale(.9); 
    } 

    100% { 
        transform: scale(1); 
    } 
} 

.bounceIn { 
    -webkit-animation-name: bounceIn; 
    animation-name: bounceIn; 
}


/* ---INDEX--- */
// .cards {
//   position: absolute;
//   display: flex;
//   justify-content: space-around;
//   margin: 60px;
// }
.card {
  position: absolute;
  text-align: left;
  border: 1px solid #00af54;
  border-radius: 15px;
  padding: 40px;
  margin: 60px;
}
//---Jumbotron---//
.jumbotron{
  margin: 60px;
  padding: 50px;
}


//---FORM---//
.form.form{
  background-color: #ffffff;
  border-radius: 15px;
  border:3px solid #00af54;
  padding: 30px;
}
  .form{
      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
  
      display: flex;
      flex-wrap: wrap;
      flex-direction: column; 
      align-items: center;
  }